title = "BobsTops"
baseURL = "https://bobstops.com/"
languageCode = "en-us"
theme = ["github.com/nicokaiser/hugo-theme-gallery"]


DefaultContentLanguage = "en"
SectionPagesMenu = "main"
Paginate = 3
googleAnalytics = ""
enableRobotsTXT = true

[sitemap]
changefreq = "monthly"
priority = 0.5
filename = "sitemap.xml"

[params]
text_color = ""
author = ""
favicon = ""
site_logo = ""
description = "Bobs Tops and Upholstery"
background_color_class = "bg-black"
recent_posts_number = 3

[menu]
  [[menu.main]]
    name = "Home"
    url = "/"
    weight = 10
  [[menu.main]]
    name = "About"
    url = "/about/"
    weight = 20
  [[menu.main]]
    name = "Gallery"
    url = "https://gallery.bobstops.com"
    weight = 30
    [menu.main.params]
      external = true
